<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplewen.win0.wd">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.WdTools"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/wd"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/wd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WDMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:label="文达学院"
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.searchBooks"
            android:label="图书搜索"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.getNotice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".libraryweb.libraryweb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchJournal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".libraryweb.searchOthers" />
        <activity android:name=".activity.About" />
        <activity android:name=".activity.moreOthers" />
        <activity android:name=".activity.LibraryOpenTime"
            android:label="图书馆馆藏分布"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>